.bottom-container { 
  position: absolute;
  bottom: 28px;
  left: 0;
  right: 0; 
  padding: 0 20px; 
}
.submit-button {
  width: 100%;
  padding: 8px 10px;
  font-size: 15px;
  font-weight: 500;
  background-color: rgb(91, 52, 244);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

.agency{
  margin: 10px 0;
  font-size: 13px;
}
.radio-options{
  margin-top: 10px;
  display: flex;
  gap: 15px;
}